
include AUTHORS.txt GPL-3.txt INSTALL.txt RELEASES.txt xulpymoney.desktop xulpymoney.pro CHANGELOG.txt *.py
recursive-include i18n *.ts *.qm
recursive-include images *.png *.jpg *.gif xulpymoney.qrc
recursive-include sources *.py
recursive-include test *.py
recursive-include ui  wdg* frm* my* canvas*
recursive-include sql *
prune __pycache__
global-exclude *.pyc 