include LICENSE.txt README.md xulpymoney.desktop xulpymoney.pro *.py doc/Doxyfile doc/index.doc
recursive-include xulpymoney i18n *.ts *.qm *.png *.jpg *.gif xulpymoney.qrc *.py *.ico *.sql
include xulpymoney/templates/*
prune __pycache__
global-exclude *.pyc .gitattributes .gitignore
