[Desktop Entry]
Name=Xulpymoney
Type=Application
Comment=Home and financial accounting system
Exec=xulpymoney
TryExec=xulpymoney
Icon=/usr/share/pixmaps/xulpymoney.png
Categories=Office;
GenericName=Contabilidad doméstica y financiera
GenericName[en]=Home and financial accounting system
GenericName[es]=Contabilidad doméstica y financiera

